public/file/noedred/flows.json
[
    {
        "id": "f2db5b516e7563ab",
        "type": "tab",
        "label": "mqtt_server_onsite",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b6cbe8f28fab3b6",
        "type": "tab",
        "label": "mqtt_cmon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f175a0c5076282ea",
        "type": "mqtt-broker",
        "name": "Cmon-mqtt",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "85a5d4c1fbfb377c",
        "type": "mysql2-server",
        "z": "f2db5b516e7563ab",
        "host": "127.0.0.1",
        "port": "3307",
        "username": "root",
        "password": "root",
        "db": "snmp",
        "servername": "sd_snmp_log2"
    },
    {
        "id": "9334c92ab0398194",
        "type": "mysql2-server",
        "host": "",
        "port": "",
        "username": "",
        "password": "",
        "db": "",
        "servername": ""
    },
    {
        "id": "fd71a956956a6080",
        "type": "mqtt in",
        "z": "f2db5b516e7563ab",
        "name": "TEMP1",
        "topic": "cifs_TH1_2565/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "faa0d199c319c085"
            ]
        ]
    },
    {
        "id": "caf5a65454ccbc9e",
        "type": "mqtt in",
        "z": "f2db5b516e7563ab",
        "name": "TEMP2",
        "topic": "PDU1/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "faa0d199c319c085"
            ]
        ]
    },
    {
        "id": "2dc51759f955292d",
        "type": "mqtt in",
        "z": "f2db5b516e7563ab",
        "name": "PF",
        "topic": "PDU1/pf",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "faa0d199c319c085"
            ]
        ]
    },
    {
        "id": "56a7e70d40e8b830",
        "type": "mqtt in",
        "z": "f2db5b516e7563ab",
        "name": "FREQ",
        "topic": "PDU1/freq",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "faa0d199c319c085"
            ]
        ]
    },
    {
        "id": "264f78f397ae56dd",
        "type": "mqtt in",
        "z": "f2db5b516e7563ab",
        "name": "Energy",
        "topic": "PDU1/energy",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "faa0d199c319c085"
            ]
        ]
    },
    {
        "id": "5160bca7523cf763",
        "type": "mqtt in",
        "z": "f2db5b516e7563ab",
        "name": "Power",
        "topic": "PDU1/power",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "faa0d199c319c085"
            ]
        ]
    },
    {
        "id": "356db93bdd71cc4e",
        "type": "mqtt in",
        "z": "f2db5b516e7563ab",
        "name": "Amp",
        "topic": "PDU1/amp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "faa0d199c319c085"
            ]
        ]
    },
    {
        "id": "3c214bc276881558",
        "type": "mqtt in",
        "z": "f2db5b516e7563ab",
        "name": "Volt",
        "topic": "PDU1/volt",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "faa0d199c319c085"
            ]
        ]
    },
    {
        "id": "faa0d199c319c085",
        "type": "join",
        "z": "f2db5b516e7563ab",
        "name": "filesave",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "1000",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 320,
        "y": 420,
        "wires": [
            [
                "8d580b0dd0b0d162"
            ]
        ]
    },
    {
        "id": "8d580b0dd0b0d162",
        "type": "json",
        "z": "f2db5b516e7563ab",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "c8a5ca3e2ece8598"
            ]
        ]
    },
    {
        "id": "c8a5ca3e2ece8598",
        "type": "file",
        "z": "f2db5b516e7563ab",
        "name": "mqlllog",
        "filename": "C:\\xampp\\htdocs\\config\\mqtt.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "0e1e02b51daf71f0"
            ]
        ]
    },
    {
        "id": "0e1e02b51daf71f0",
        "type": "debug",
        "z": "f2db5b516e7563ab",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "d0b70697e60ceb6a",
        "type": "mqtt in",
        "z": "4b6cbe8f28fab3b6",
        "name": "RFID_KEI_2566",
        "topic": "RFID_KEI_2566/deviceRSSII",
        "qos": "0",
        "datatype": "utf8",
        "broker": "f175a0c5076282ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "d6c96698df341084"
            ]
        ]
    },
    {
        "id": "a586fac5a5295737",
        "type": "file",
        "z": "4b6cbe8f28fab3b6",
        "name": "save_log_file_json",
        "filename": "C:\\xampp\\htdocs\\config\\mqttcmon1.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "5b6f9e4079ad881c"
            ]
        ]
    },
    {
        "id": "5b6f9e4079ad881c",
        "type": "debug",
        "z": "4b6cbe8f28fab3b6",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "214ce0a2a44faf98",
        "type": "file",
        "z": "4b6cbe8f28fab3b6",
        "name": "save_log_text",
        "filename": "C:\\xampp\\htdocs\\config\\mqttcmon1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "5b6f9e4079ad881c"
            ]
        ]
    },
    {
        "id": "d6c96698df341084",
        "type": "json",
        "z": "4b6cbe8f28fab3b6",
        "name": "ob_to_json",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "a586fac5a5295737",
                "214ce0a2a44faf98"
            ]
        ]
    }
]