public/noderedflow/chek_network_control.json
[
    {
        "id": "f228f70b6bf89865",
        "type": "tab",
        "label": "check_network",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e17bd47fd4076f8c",
        "type": "inject",
        "z": "f228f70b6bf89865",
        "name": "Off line",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "6ef0e2a8ace95310"
            ]
        ]
    },
    {
        "id": "590af24d6364424a",
        "type": "inject",
        "z": "f228f70b6bf89865",
        "name": "On line",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "str",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "6ef0e2a8ace95310"
            ]
        ]
    },
    {
        "id": "6ef0e2a8ace95310",
        "type": "switch",
        "z": "f228f70b6bf89865",
        "name": "switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "dd6224ce5428bfa8"
            ],
            [
                "038293246f2f7d32"
            ]
        ]
    },
    {
        "id": "1270e3c88f7185b2",
        "type": "comment",
        "z": "f228f70b6bf89865",
        "name": "false",
        "info": "",
        "x": 230,
        "y": 200,
        "wires": []
    },
    {
        "id": "1c59f64b5429eba6",
        "type": "comment",
        "z": "f228f70b6bf89865",
        "name": "number",
        "info": "",
        "x": 230,
        "y": 280,
        "wires": []
    },
    {
        "id": "dd6224ce5428bfa8",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "false add time",
        "func": "var c=Date.now();\nvar d=new Date(c);\nword = \"System Offline\";\nvar dt={\n    'day'    :d.getDate(),\n    'month'  :d.getMonth()+1,\n    'year'   :d.getFullYear(),\n    'hour'   :d.getHours(),\n    'minutes':d.getMinutes(),\n    'second' :d.getSeconds(),\n    'ms'     :d.getMilliseconds()\n}\nddtt=dt.day+\"-\"+dt.month+\"-\"+dt.year+\" \"+dt.hour+\":\"+dt.minutes+\":\"+dt.second;\nmsg.payload =ddtt+\"/\"+word;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "e1ec807bf1c7f399"
            ]
        ]
    },
    {
        "id": "038293246f2f7d32",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "ture add time",
        "func": "var c=Date.now();\nvar d=new Date(c);\nword = \"System Online\";\nvar dt={\n    'day'    :d.getDate(),\n    'month'  :d.getMonth()+1,\n    'year'   :d.getFullYear(),\n    'hour'   :d.getHours(),\n    'minutes':d.getMinutes(),\n    'second' :d.getSeconds(),\n    'ms'     :d.getMilliseconds()\n}\nddtt=dt.day+\"-\"+dt.month+\"-\"+dt.year+\" \"+dt.hour+\":\"+dt.minutes+\":\"+dt.second;\nmsg.payload =ddtt+\"/\"+word;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 380,
        "wires": [
            [
                "f100d2f2dfd650e2"
            ]
        ]
    },
    {
        "id": "e1ec807bf1c7f399",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "check send1",
        "func": "x=flow.get(\"infalse\");\n\nif(x=== undefined)\n{\nflow.set('infalse','0');\nflow.set('inture','0');\nx=0;\n}\n\nif(x===\"0\")\n{\nreturn msg; \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "c16e0c63810ea2cf",
                "4bdc9cc6532cf1e0"
            ]
        ]
    },
    {
        "id": "c16e0c63810ea2cf",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "set stop Mg1",
        "func": "flow.set('infalse','1');\nflow.set('inture','0');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "926d37f39e6165d1",
                "8718f2e481496907",
                "d11398cdfeac428f"
            ]
        ]
    },
    {
        "id": "f100d2f2dfd650e2",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "check send2",
        "func": "x=flow.get(\"inture\");\n\nif(x=== undefined)\n{\nflow.set('infalse','0');\nflow.set('inture','0');\nx=0;\n}\n\nif(x===\"0\")\n{\nreturn msg; \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "9b6b74060c9755e8",
                "dcfb2adc2110ceab"
            ]
        ]
    },
    {
        "id": "9b6b74060c9755e8",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "set stop Mg2",
        "func": "flow.set('infalse','0');\nflow.set('inture','1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "cd6425be136f6809",
                "8718f2e481496907",
                "d11398cdfeac428f"
            ]
        ]
    },
    {
        "id": "926d37f39e6165d1",
        "type": "debug",
        "z": "f228f70b6bf89865",
        "name": "out false",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "cd6425be136f6809",
        "type": "debug",
        "z": "f228f70b6bf89865",
        "name": "out ture",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "5c2ff51f5cb44762",
        "type": "serial out",
        "z": "f228f70b6bf89865",
        "name": "Control Relay",
        "serial": "35a90d5e.01bf92",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "4bdc9cc6532cf1e0",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "send \"0\"",
        "func": "msg.payload = \"0\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 160,
        "wires": [
            [
                "5c2ff51f5cb44762"
            ]
        ]
    },
    {
        "id": "dcfb2adc2110ceab",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "send \"1\"",
        "func": "msg.payload = \"1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "5c2ff51f5cb44762"
            ]
        ]
    },
    {
        "id": "8718f2e481496907",
        "type": "function",
        "z": "f228f70b6bf89865",
        "name": "line notify",
        "func": "from = msg.from;\ntext = msg.payload;\nmsg.headers={'content-type':'application/x-www-form-urlencoded','Authorization':'Bearer wdlpYCZcSFQZKrtICyuhzbtb2d90zO7FhoXtoZZqsHO'};\nmsg.payload={\"message\":msg.payload};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 240,
        "wires": [
            [
                "5eb3b034ddd564fb"
            ]
        ]
    },
    {
        "id": "5eb3b034ddd564fb",
        "type": "http request",
        "z": "f228f70b6bf89865",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d11398cdfeac428f",
        "type": "e-mail",
        "z": "f228f70b6bf89865",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "monitoring.system.report@gmail.com",
        "dname": "",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "f686c6d358eacb39",
        "type": "ping",
        "z": "f228f70b6bf89865",
        "protocol": "IPv4",
        "mode": "timed",
        "name": "",
        "host": "192.168.1.100",
        "timer": "5",
        "inputs": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "6ef0e2a8ace95310"
            ]
        ]
    },
    {
        "id": "35a90d5e.01bf92",
        "type": "serial-port",
        "serialport": "COM12",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]